.productinfo .img1{
    height: 400px;   
}
.textcolor{
    color:white;   
}
.img2{
    height:80px;
} 
.img3{
    height:200px;
} 
.require{
    color:red; 
} 
.error{
    color:red; 
} 
/*.form1{
    background:#F0F0E9;
    border: 0 none;
    margin-bottom:10px;
    padding: 10px;
    width: 100%;
    font-weight: 300
}*/
/*form2*/
.shopper-informations > input, 
.form-two > select, 
.form-two > input, 
.form-one > input {
  background:#F0F0E9;
  border: 0 none;
  margin-bottom:10px;
  padding: 10px;
  width: 100%;
  font-weight: 300
}
.shiftRight{
    margin-left:80px
}
.text_color{
   color:#666666; 
}
.div_space{
    padding-bottom: 10px;
}